Repository saphetor/vc-file-upload: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, poetry-export, poetry-export-dev

poetry-lock:
  name: poetry lock
  entry: poetry lock --no-update
  language: system
  pass_filenames: false
  require_serial: true

poetry-export:
  name: poetry export
  entry: bash -c 'poetry export -f requirements.txt -o requirements.txt'
  language: system
  pass_filenames: false
  require_serial: true

poetry-export-dev:
  name: poetry export dev dependencies
  entry: bash -c 'poetry export -f requirements.txt --only dev -o requirements-dev.txt'
  language: system
  pass_filenames: false
  require_serial: true

bump: version 0.1.0 → 0.2.0
  .cz.toml
  CHANGELOG.md
  pyproject.toml
  vc_file_upload/__init__.py
Due: poetry-lock

ci(docker-release.yml): Removes `toLower` transformation for `IMAGE_NAME` in Docker release workflow
  .github/workflows/docker-release.yml
Due: none

Update .github/workflows/docker-release.yml
  .github/workflows/docker-release.yml
Due: none

ci: Update Docker workflow to refine image naming and semver tag identification logic
  .github/workflows/docker-release.yml
Due: none

ci(docker-release.yml): Removes `toLower` transformation for `IMAGE_N… (#1)
  .github/workflows/docker-release.yml
Due: none

build: Removes unused `workflow_dispatch` trigger from docker-release workflow
  .github/workflows/docker-release.yml
Due: none

build: Removes unused `workflow_dispatch` trigger from docker-release workflow (#2)
  .github/workflows/docker-release.yml
Due: none

bump: version 0.2.0 → 0.2.1
  .cz.toml
  CHANGELOG.md
  pyproject.toml
  vc_file_upload/__init__.py
Due: poetry-lock

docs(README.md): Updates README to replace version placeholder with explicit `latest` tag in Docker commands
  README.md
Due: none

feat: Enables multipart uploads
  README.md
  docs/library.md
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_http_request.py
  tests/test_varsome.py
  vc_file_upload/cli/transfer_files.py
  vc_file_upload/exception.py
  vc_file_upload/http_request.py
  vc_file_upload/varsome.py
Due: poetry-lock, poetry-export, poetry-export-dev

bump: version 0.2.1 → 0.3.0
  .cz.toml
  CHANGELOG.md
  pyproject.toml
  vc_file_upload/__init__.py
Due: poetry-lock

Path conditions:
  poetry-lock: any of: ^pyproject\.toml$
  poetry-export: any of: ^poetry\.lock$
  poetry-export-dev: any of: ^poetry\.lock$
